.container {
  /* display: block; */
  width: 18.75rem;
  /* padding-top: 6.25rem; */
  background: white;
  min-height: 100vh;
  /* position: fixed; */
  left: 0;
  top: 0;
}

.container ul {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  padding: 0;
}

.container ul li {
  display: flex;
  justify-content: flex-start;
  padding: 0.625rem 2rem;
  gap: 0.625rem;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.container ul li a {
  font-weight: 500;
}

.container ul li img {
  width: 40px;
}

.active:after {
  content: "";
  position: absolute;
  min-height: 2.625rem;
  background: black;
  min-width: 4px;
  right: 0px;
}

.active a {
  font-weight: bold !important;
}

.logo {
  width: 100%;
  text-align: center;
  padding: 1.25rem;
  margin: 0;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 1px 6px 0px rgba(0, 0, 0, 0.19);
  /* border-bottom: 1px solid rgb(39, 39, 39); */
}
