.button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  outline: none;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(61, 61, 61) !important;
}
