.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputItem {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inputItem input {
  padding: 10px;
}

.form button {
  padding: 10px;
  outline: none;
  background: black;
  color: white;
}
