.table {
  width: 100%;
}

.table ul {
  margin: 0;
}

.thead {
  background-color: black;
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.thead li {
  flex: 1;
  text-align: center;
}

.tbody {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.tbodyItem {
  display: flex;
  flex-direction: row;
  gap: 5px;
  list-style-type: none;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-left: 0px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.tbodyItem li {
  flex: 1;
  text-align: center;
}
