.textInput {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.textInput input {
  padding: 10px;
}

.textError {
  font-size: 12px;
  padding: 4px 0 0 4px;
  color: red;
}

.textInput label {
  font-weight: 600 !important;
}
