@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  background: rgb(228, 228, 228);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
